body{
    background-color: #FAFAD2;
}
h1{
    color: red;
}
#Priceobject{
    height: 30vh;
    width: 20vw;
}
#ObjectName{

}
#ObjectName{
    
}
.PriceContainer{
    
}
.PriceList{
   
    background-color: #333;
    display: grid;
}