
  @import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Crimson+Text:wght@600&family=Happy+Monkey&family=Nabla&family=Noto+Color+Emoji&family=Pacifico&family=Rubik+Bubbles&family=Rubik+Maps&family=Work+Sans:ital,wght@1,500&display=swap');
 
  .SlideshowContainerText {
    position: absolute;
    overflow: hidden;
    top: -0;
    margin-top: 11.5%;
    right: 0%; 
    width: 30%;
    height: 70%;
    background-color:#333; 
    color: white;
    box-sizing: border-box;
    
  }


  
#SliderTopic{
    font-family: 'Bungee Spice', sans-serif;
    font-size: 190%;
}

#SLiderDetail{
    font-family: 'Crimson Text', serif;
    font-size: larger;
}
#selling{
    margin-top: 0.3cm;
    margin-left: 0.3cm;
    margin-left: 0cm;
    height: 10cm;
    width: 10cm;
  }
.forprices1{
    margin-left: 0em;
    width: fit-content;
    margin-top: -2%;
    
  }
  @media only screen and (-webkit-device-pixel-ratio: 3), only screen and (device-width: 390px) and (device-height: 844px) and (-webkit-device-pixel-ratio: 3), only screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)
  {
    .SlideshowContainerText{
      margin-top: 39%;
      height:45vh ;
    }
    #SliderTopic{
      font-family: 'Bungee Spice', sans-serif;
      font-size: 90%;
  }
  }

